* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header'
  'middle middle middle right';
  grid-gap: 10px;
}

.grid-container2 {
  display: grid;
  grid-template-areas:
  'left middle2 middle2 middle2'
  'footer footer footer footer';
  grid-gap: 10px;
}

.middle,
.middle2,
.right,
.left {
  padding:10px;
}

.a{
	grid-area:head;
	background-color:black; 
	height:40px;
	padding:10px;
	color:white;
	justify-content:space-between;
}
.e{
	grid-area:foot;
	width:100%;
	height:50px;
	padding:0px;
	color:white;
	background-color:black;
	text-align:center;
}

.b{
	width:70%;
	background-color:white;

}

.b ul {
	font-size:0;
	list-style-type:none;


}

.b ul li{
	font-family:"Open sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #333;
	display: inline-block;
	padding: 7px;
	position:relative;
}
.b a {text-decoration:none;
      color:black;
   }
 . b ul li {
 	display:none;
 }
 .b ul li:hover{
 	cursor: pointer;
 	background-color:beige;
 	color:black;
 }
 .b ul li:hover ul {
 	display: inline-block;
 	margin-top:30px;
 	width:300px;
 	left:0;
 	position:absolute;
 }
 .b ul li:hover ul li span{
 	justify-content:space-between;
 	color: #f9f9f9;
 	background-color: #F03861;
 	padding: 2px 5px;
 	text-align: center;
 	font-size: 8rem;
 	border-radius: 3px;

 }
 .b ul li:hover ul li:hover{
 	background-color: #e0e0e0;
 }
 .b ul li:hover ul li hover span {
 	background-color:#ee204e;

 }

 .d {
 	margin-left:500px;
 	width: 200px;
 	border:1px solid black;
}

.d a {
	display:block;
	padding: 10px;
	text-align: center;
	text-decoration:none;
	color:black;
	transition: all 0.3s ease;
	font-size: 1rem;
}

.d a :hover{
	background-color beige;
	text-align:center;
}


.d a:hover{
	background-color: beige;
	text-align: center;
}

.h{
	width: 30%;
	margin-left:60px;
}

.c{
	text-align:right;
}

.j{
	width: 50%;
	height:auto;
}

